.sign-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 8rem auto;
  max-width: 400px; /* ✅ limit width so it’s not too wide */
  padding: 5rem;
  background: white;
  border-radius: 8px;

  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 4px 6px rgba(0, 0, 0, 0.1);

  transition: box-shadow 83ms;
}

/* Adjust for tablets/phones */
@media screen and (max-width: 768px) {
  .sign-container {
    margin: 8rem auto;
    /* width: 90%;  */
  }
}

.sign-container h2 {
  font-size: 2rem;
  font-weight: 600;
  font-family: sans-serif;
}

.sign-container h3,
.link {
  font-size: 1.2rem;
  font-family: sans-serif;
  font-weight: 600;
  padding: 5px 0;
}

.formInput .form-input {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.link a {
  text-decoration: none;
}

.greetings {
  margin-bottom: 1rem;
  background: gray;
  color: white;
  font-family: sans-serif;
  font-weight: 600;
  padding: 1rem;
  border-radius: 10px;
  pointer-events: none;
}
