.left-container,
.community-card {
  text-align: center;
  overflow: hidden;
  margin-bottom: 8px;
  background-color: #fff;
  border-radius: 5px;
  transition: box-shadow 83ms;
  position: relative;
  border: none;
  box-shadow: 0 0 0 1px rgba(0 0 0 / 15s), 0 0 0 rgba(0 0 0 20s);
}

.info {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  padding: 12px 12px 16px;
  padding-bottom: 100px;
  position: relative;
  word-wrap: break-word;
  word-break: break-word;
}

.info .info-sub {
  background: url("../../images/card-bg.svg");
  background-position: center;
  background-size: 462px;
  height: 70px;
  margin: -12px -12px 0;
}

.photo {
  box-shadow: none;
  background: url("../../images/photo.svg");
  width: 72px;
  height: 80px;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  /* position: absolute; */
  /* top: 50%; */
  /* padding-top: 2rem; */
  box-sizing: border-box;
  background-clip: content-box;
  /* background-color: white; */
  background-position: center 120%;
  background-size: 60%;
  background-repeat: no-repeat;
  border: 2px solid transparent;
  margin: -30px auto 12px;
  /* border-radius: 2rem; */
}
.link {
  font-size: 16px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.9);
  font-weight: 600;
  text-decoration: none;
}
.add-photo {
  color: #0a66c2;
  margin-top: 4px;
  font-size: 12px;
  line-height: 1.33;
  font-weight: 400;
}

.widget {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  padding-top: 12px;
  padding-bottom: 12px;
}

.widget a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 12px;
}

.widget a:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.widget span {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.widget span {
  font-size: 12px;
  line-height: 1.333;
}

span:first-child {
  color: rgba(0, 0, 0, 0.6);
}

span:nth-child(2) {
  color: rgba(0, 0, 0, 1);
}

.item {
  border-color: rgba(0, 0, 0, 0.8);
  text-align: left;
  padding: 12px;
  font-size: 12px;
  display: block;
}

.item span {
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 1);
}

.item span img {
  color: rgba(0, 0, 0, 0.6);
}
.item:hover {
  background: rgba(0, 0, 0, 0.08);
}

.community-card {
  padding: 8px 0 0;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.community-card a {
  color: black;
  padding: 4px 12px;
  font-size: 12px;
}

.community-card a span:hover {
  color: #0a66c2;
}

.community-card span {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.community-card a:last-child {
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
  border-top: 2px solid rgba(0, 0, 0, 0.08);
  padding: 12px;
}

.community-card a:last-child:hover {
  background-color: rgba(0, 0, 0, 0.08);
}
